/* CUSTOM PROPERTIES */
:root {
  /* Colors */
  --text-color: #191919;
  --accent-color: #00bafc;
  --light-grey: #f3f3f3;
  --accent-color-80: rgba(0, 186, 252, 0.8);
  --accent-color-60: rgba(0, 186, 252, 0.6);

  /* Font related */
  --font-family: "Open Sans", "Arial", sans-serif;
}


/* FONTS */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v18-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v18-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v18-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v18-latin-700.woff") format("woff");
}


/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--text-color);
}

a {
  display: inline-block;
  color: var(--accent-color);
}

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  max-width: 1150px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}


/* BUTTON */
.button {
  display: inline-block;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
}

.button--phone {
  padding: 5px 13px;
  border: 3px solid transparent;
  background-color: var(--accent-color);
  color: #fff;
}

.button--phone:hover {
  background-color: #fff;
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.button--phone:active {
  background-color: var(--accent-color);
  color: #fff;
  opacity: 0.6;
}

.button--primary {
  background-color: var(--accent-color);
  color: #fff;
}

.button--primary:hover {
  background-color: var(--accent-color-80);
}

.button--primary:active {
  background-color: var(--accent-color-60);
}


/* SITE-HEADER */
.site-header {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.site-header__container {
  display: flex;
  align-items: center;
}

/* LOGO */
.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.4;
}

.logo__img {
  display: block;
}

.site-header__logo {
  margin-right: auto;
}

.site-header__phone {
  margin-left: 8px;
}


/* SITENAV */
.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item {
  position: relative;
  z-index: 1;
}

.sitenav__link {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: var(--text-color);
  transition: box-shadow 0.3s ease;
  white-space: nowrap;
}

.sitenav__link:hover,
.sitenav__item--active .sitenav__link {
  box-shadow: inset 0 -3px 0 0 var(--text-color);
}

.sitenav__link:active {
  background-color: rgba(25, 25, 25, 0.7);
  color: #fff;
  box-shadow: none;
}

/* DROPDOWN MENU */
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  padding-left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  border-radius: 5px;
  list-style: none;
  background-color: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.sitenav__item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 8px 16px;
  color: var(--text-color);
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.dropdown-menu a:active {
  opacity: 0.6;
}


/* HERO */
.hero {
  padding: 80px 0;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__info {
  width: 470px;
  margin-right: 40px;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 1.3;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 16px;
}

.hero__video {
  width: 458px;
  height: 258px;
  border-radius: 5px;
}


/* SITE-SECTION */
.site-section {
  padding-top: 56px;
  padding-bottom: 56px;
}

.site-section--accent {
  background-color: var(--accent-color);
  color: #fff;
}

.site-section__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
}

.site-section__info {
  max-width: 720px;
  margin: 0 auto 16px;
  text-align: center;
}

.site-section__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-section__actions a:not(:last-child) {
  margin-right: 16px;
}


/* INDEX-SERVICES */
.index-services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-left: -70px;
  list-style: none;
}

.index-services__item {
  width: 320px;
  margin-left: 70px;
  margin-bottom: 48px;
}


/* INDEX-SERVICE */
.index-service__link {
  display: block;
  padding: 24px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  color: var(--text-color);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  transition: box-shadow 0.1s ease;
}

.index-service__link:hover {
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.index-service__link:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.index-service__link::before {
  display: block;
  height: 130px;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.index-service--website .index-service__link::before {
  background-image: url("../img/website-illustration.png");
}

.index-service--telegram-bot .index-service__link::before {
  background-image: url("../img/bot-illustration.png");
}

.index-service--smm .index-service__link::before {
  background-image: url("../img/smm-illustration.png");
}

.index-service--graphic-design .index-service__link::before {
  background-image: url("../img/design-illustration.png");
}

.index-service--crm .index-service__link::before {
  background-image: url("../img/crm-illustration.png");
}

.index-service__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.3;
}

.index-service__info {
  margin: 0;
}


/* HOW WE WORK */
.how-we-work__list {
  max-width: 830px;
  padding: 0;
  margin: 8px auto 40px;
  list-style: none;
}

.how-we-work__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how-we-work__item:nth-child(even) {
  flex-direction: row-reverse;
}

.how-we-work__item:not(:last-child) {
  margin-bottom: 48px;
}

.how-we-work__item::before {
  width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.how-we-work__item--requirements::before {
  height: 278px;
  background-image: url("../img/step-illlustration-requirements.png");
}

.how-we-work__item--offers::before {
  height: 224px;
  background-image: url("../img/step-illlustration-offers.png");
}

.how-we-work__item--deadline::before {
  height: 258px;
  background-image: url("../img/step-illustration-deadline.png");
}

.how-we-work__item--quality::before {
  height: 171px;
  background-image: url("../img/step-illustration-quality.png");
}

.how-we-work__item--support::before {
  height: 232px;
  background-image: url("../img/step-illustration-support.png");
}

.how-we-work__details {
  width: 500px;
}

.how-we-work__step-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.3;
}

.how-we-work__step-info {
  margin: 0;
}


/* ORDER-FORM */
.order-form {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.order-form__group {
  margin-bottom: 16px;
}

.order-form__field {
  display: block;
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--light-grey);
}


/* SITE-FOOTER */
.site-footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: var(--text-color);
  color: #fff;
}

.site-footer__container {
  display: flex;
}

.site-footer__info {
  width: 320px;
  margin-right: 100px;
}

.site-footer__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.site-footer__nav {
  width: 150px;
  margin-right: 80px;
}

.site-footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-footer-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.site-footer-list__link {
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.site-footer-list__link:hover {
  color: var(--accent-color);
}

.site-footer-list__link:active {
  opacity: 0.6;
}

.site-footer-list__link--icon::before {
  width: 22px;
  height: 22px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.site-footer-list__link--telegram::before {
  background-image: url("../img/icon-telegram.png");
}

.site-footer-list__link--facebook::before {
  background-image: url("../img/icon-facebook.png");
}

.site-footer-list__link--instagram::before {
  background-image: url("../img/icon-instagram.png");
}
